WAPasantia/SWLNPasantia/App_WebReferences/SWADNetValle/SWADNetValle1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52966/SWADNetValle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Obtener_NCiudad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NCiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NCiudadResult" nillable="true" type="q1:ArrayOfENCiudad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NCiudad_Id_Ciudad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Ciudad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NCiudad_Id_CiudadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NCiudad_Id_CiudadResult" nillable="true" type="q2:ENCiudad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NCarrera_Id_Carrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Carrera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NCarrera_Id_CarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NCarrera_Id_CarreraResult" nillable="true" type="q3:ENCarrera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEmpleadoSimple">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEmpleadoSimpleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NEmpleadoSimpleResult" nillable="true" type="q4:ArrayOfENEmpleadoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEmpleado_Id_Empleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Empleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEmpleado_Id_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NEmpleado_Id_EmpleadoResult" nillable="true" type="q5:ENEmpleadoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEstudiante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NEstudianteResult" nillable="true" type="q6:ArrayOfENEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEstudiante_Id_Estudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Estudiante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NEstudiante_Id_EstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NEstudiante_Id_EstudianteResult" nillable="true" type="q7:ENEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InicioSesion_CodigoEstudiante_Contrasena_Estudiante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo_Estudiante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password_Estudiante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InicioSesion_CodigoEstudiante_Contrasena_EstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InicioSesion_CodigoEstudiante_Contrasena_EstudianteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPasantia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Estudiante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPasantiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarPasantiaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEstudiante_NombreCompleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEstudiante_NombreCompletoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarEstudiante_NombreCompletoResult" nillable="true" type="q8:ArrayOfENEstudiante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NSedeAcademica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NSedeAcademicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NSedeAcademicaResult" nillable="true" type="q9:ArrayOfENSedeAcademica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NSedeAcademica_Id_SedeAcademica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_SedeAcademica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NSedeAcademica_Id_SedeAcademicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NSedeAcademica_Id_SedeAcademicaResult" nillable="true" type="q10:ENSedeAcademica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NCargo_Id_Cargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Cargo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NCargo_Id_CargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NCargo_Id_CargoResult" nillable="true" type="q11:ENCargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NFacultad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NFacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NFacultadResult" nillable="true" type="q12:ArrayOfENFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NFacultad_Id_Facultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Facultad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NFacultad_Id_FacultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NFacultad_Id_FacultadResult" nillable="true" type="q13:ENFacultad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NDirectorCarrera_Id_DirectorCarrera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_DirectorCarrera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_NDirectorCarrera_Id_DirectorCarreraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_NDirectorCarrera_Id_DirectorCarreraResult" nillable="true" type="q14:ENDirectorCarrera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>