WABlockchain/Connected Services/SWADBlockchainService/SWADNETBlockchain2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEBTittle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBTittle" nillable="true" type="tns:EBTittle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBTittle" nillable="true" type="tns:ArrayOfEBTittle" />
  <xs:complexType name="EBTittle">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTittles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carreer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="impression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="registerDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBTittle" nillable="true" type="tns:EBTittle" />
</xs:schema>