SWLNBlockchain/App_WebReferences/SWADBlockChain/SWADNETBlockchain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59383/SWADNETBlockchain.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Obtener_User_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_User_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_User_OResult" nillable="true" type="q1:ArrayOfEBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_BUser_O_iduser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_BUser_O_iduserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_BUser_O_iduserResult" nillable="true" type="q2:EBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_I_idUser_email">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eBUser" nillable="true" type="q3:EBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_I_idUser_emailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_BUser_I_idUser_email">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eBUser" nillable="true" type="q4:EBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_BUser_I_idUser_emailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="bUser" nillable="true" type="q5:EBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_RolUser_O_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_RolUser_O_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_RolUser_O_SearchResult" nillable="true" type="q6:EBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BTitle_I_idTitle_faculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eBTittle" nillable="true" type="q7:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BTitle_I_idTitle_facultyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eBTittle" nillable="true" type="q8:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_BTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carreer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_BTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Search_BTitleResult" nillable="true" type="q9:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_BTitle_Faculty_Carrer_Date">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_BTitle_Faculty_Carrer_DateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Search_BTitle_Faculty_Carrer_DateResult" nillable="true" type="q10:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Title_OResult" nillable="true" type="q11:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Title_1Result" nillable="true" type="q12:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Title_2Result" nillable="true" type="q13:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q14:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BTittle_O_State2Result" nillable="true" type="q15:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BTittle_O_State3Result" nillable="true" type="q16:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State4">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BTittle_O_State4Result" nillable="true" type="q17:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State5">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BTittle_O_State5Result" nillable="true" type="q18:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State6">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BTittle_O_State6Result" nillable="true" type="q19:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State7">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_State7Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BTittle_O_State7Result" nillable="true" type="q20:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q21:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q22:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_4Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_5">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q23:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_5Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_6">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q24:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_6Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_7">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q25:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_update_statusTittle_7Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_TO_Upload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BTittle_O_TO_UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BTittle_O_TO_UploadResult" nillable="true" type="q26:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitle_2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q27:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitle_2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitle_1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q28:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitle_1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_ITitle_statusTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q29:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_ITitle_statusTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q30:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_BTittle_ConfirmarEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ebTitle" nillable="true" type="q31:EBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_BTittle_ConfirmarEntregaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoID_O_NombreTablaSinElCaracterI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoID_O_NombreTablaSinElCaracterIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UltimoID_O_NombreTablaSinElCaracterIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiguienteID_O_NombreTablaSinElCaracterI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiguienteID_O_NombreTablaSinElCaracterIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiguienteID_O_NombreTablaSinElCaracterIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_RolUser_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_RolUser_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_RolUser_OResult" nillable="true" type="q32:ArrayOfEBRoluser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>