SWLNBlockchain/App_WebReferences/SWADBlockChain/SWADNETBlockchain12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEBUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBUser" nillable="true" type="tns:EBUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBUser" nillable="true" type="tns:ArrayOfEBUser" />
  <xs:complexType name="EBUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CIExtra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cellphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRolUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNetvalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBUser" nillable="true" type="tns:EBUser" />
  <xs:complexType name="EBTittle">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTittles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carreer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateDelivery" type="xs:dateTime" />
      <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullNameTitulado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idQr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="registerDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusDelivery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBTittle" nillable="true" type="tns:EBTittle" />
  <xs:complexType name="ArrayOfEBTittle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBTittle" nillable="true" type="tns:EBTittle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBTittle" nillable="true" type="tns:ArrayOfEBTittle" />
  <xs:complexType name="ArrayOfEBRoluser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EBRoluser" nillable="true" type="tns:EBRoluser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEBRoluser" nillable="true" type="tns:ArrayOfEBRoluser" />
  <xs:complexType name="EBRoluser">
    <xs:sequence>
      <xs:element minOccurs="0" name="idrolUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EBRoluser" nillable="true" type="tns:EBRoluser" />
</xs:schema>