SWLNBlockchain/App_WebReferences/SWADBlockChain/SWADNETBlockchain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SWADNETBlockchain" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59383/SWADNETBlockchain.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59383/SWADNETBlockchain.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59383/SWADNETBlockchain.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWADNETBlockchain_Obtener_User_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_User_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNETBlockchain_Obtener_User_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_User_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETBlockchain_Obtener_BUser_O_iduser_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_BUser_O_iduser" />
  </wsdl:message>
  <wsdl:message name="ISWADNETBlockchain_Obtener_BUser_O_iduser_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_BUser_O_iduserResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETBlockchain_Insertar_BUser_I_idUser_email_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_BUser_I_idUser_email" />
  </wsdl:message>
  <wsdl:message name="ISWADNETBlockchain_Insertar_BUser_I_idUser_email_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_BUser_I_idUser_emailResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETBlockchain_Actualizar_BUser_I_idUser_email_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_BUser_I_idUser_email" />
  </wsdl:message>
  <wsdl:message name="ISWADNETBlockchain_Actualizar_BUser_I_idUser_email_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_BUser_I_idUser_emailResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWADNETBlockchain">
    <wsdl:operation name="Obtener_User_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Obtener_User_O" message="tns:ISWADNETBlockchain_Obtener_User_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Obtener_User_OResponse" message="tns:ISWADNETBlockchain_Obtener_User_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_BUser_O_iduser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Obtener_BUser_O_iduser" message="tns:ISWADNETBlockchain_Obtener_BUser_O_iduser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Obtener_BUser_O_iduserResponse" message="tns:ISWADNETBlockchain_Obtener_BUser_O_iduser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_BUser_I_idUser_email">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Insertar_BUser_I_idUser_email" message="tns:ISWADNETBlockchain_Insertar_BUser_I_idUser_email_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Insertar_BUser_I_idUser_emailResponse" message="tns:ISWADNETBlockchain_Insertar_BUser_I_idUser_email_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_BUser_I_idUser_email">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Actualizar_BUser_I_idUser_email" message="tns:ISWADNETBlockchain_Actualizar_BUser_I_idUser_email_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETBlockchain/Actualizar_BUser_I_idUser_emailResponse" message="tns:ISWADNETBlockchain_Actualizar_BUser_I_idUser_email_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWADNETBlockchain" type="tns:ISWADNETBlockchain">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_User_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNETBlockchain/Obtener_User_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_BUser_O_iduser">
      <soap:operation soapAction="http://tempuri.org/ISWADNETBlockchain/Obtener_BUser_O_iduser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_BUser_I_idUser_email">
      <soap:operation soapAction="http://tempuri.org/ISWADNETBlockchain/Insertar_BUser_I_idUser_email" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_BUser_I_idUser_email">
      <soap:operation soapAction="http://tempuri.org/ISWADNETBlockchain/Actualizar_BUser_I_idUser_email" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWADNETBlockchain">
    <wsdl:port name="BasicHttpBinding_ISWADNETBlockchain" binding="tns:BasicHttpBinding_ISWADNETBlockchain">
      <soap:address location="http://localhost:59383/SWADNETBlockchain.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>