WABlockchain/Connected Services/SWLNBlockchainService/SWLNBlockchain1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53675/SWLNBlockchain.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Obtener_RolUser_O_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_RolUser_O_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_RolUser_O_SearchResult" nillable="true" type="q1:EBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_User_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_User_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_User_OResult" nillable="true" type="q2:ArrayOfEBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btener_BUser_O_iduser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Carrera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btener_BUser_O_iduserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="btener_BUser_O_iduserResult" nillable="true" type="q3:EBUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_I_idUser_email">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userNetvalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idrolUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cellphone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ci" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciExtra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_I_idUser_emailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userNetvalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idrolUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cellphone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ci" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciExtra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BUser_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_BUser_I_idUser_email">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userNetvalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idrolUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_BUser_I_idUser_emailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BTitle_I_idTitle_faculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="faculty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carreer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusTittle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateDelivery" type="xs:dateTime" />
        <xs:element minOccurs="0" name="statusDelivery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullnameTitulado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_BTitle_I_idTitle_facultyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Title_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Title_OResult" nillable="true" type="q4:ArrayOfEBTittle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_Title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_ITitle_statusTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_RolUser_O">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_RolUser_OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_RolUser_OResult" nillable="true" type="q5:ArrayOfEBRoluser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoID_O_NombreTablaSinElCaracterI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UltimoID_O_NombreTablaSinElCaracterIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UltimoID_O_NombreTablaSinElCaracterIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiguienteID_O_NombreTablaSinElCaracterI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiguienteID_O_NombreTablaSinElCaracterIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiguienteID_O_NombreTablaSinElCaracterIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Persona_O_Estudiante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Persona_O_EstudianteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Persona_O_EstudianteResult" nillable="true" type="q6:ENPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Persona_O_EstudianteL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Persona_O_EstudianteLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Persona_O_EstudianteLResult" nillable="true" type="q7:ArrayOfENPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Carrerra_O_ID_Pedro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Carrerra_O_ID_PedroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_Carrerra_O_ID_PedroResult" nillable="true" type="q8:ENCareer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="U_Obtener_UserCareerComplejas_O_Est">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="U_Obtener_UserCareerComplejas_O_EstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="U_Obtener_UserCareerComplejas_O_EstResult" nillable="true" type="q9:ArrayOfIUserCareerCompleja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>