SWLNBlockchain/App_WebReferences/SWADNetValle/SWADNetValle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWADNetValle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59389/SWADNetValle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59389/SWADNetValle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59389/SWADNetValle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWADNetValle_Obtener_Carrerra_O_ID_Pedro_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Carrerra_O_ID_Pedro" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Carrerra_O_ID_Pedro_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Carrerra_O_ID_PedroResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_EstudianteL_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_EstudianteL" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_EstudianteL_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_EstudianteLResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Estudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_Estudiante" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Estudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_EstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Nombre_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_Nombre" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Nombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_NombreResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_ID_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_ID" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_ID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_IDResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWADNetValle">
    <wsdl:operation name="Obtener_Carrerra_O_ID_Pedro">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Carrerra_O_ID_Pedro" message="tns:ISWADNetValle_Obtener_Carrerra_O_ID_Pedro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Carrerra_O_ID_PedroResponse" message="tns:ISWADNetValle_Obtener_Carrerra_O_ID_Pedro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_EstudianteL">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_EstudianteL" message="tns:ISWADNetValle_Obtener_Persona_O_EstudianteL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_EstudianteLResponse" message="tns:ISWADNetValle_Obtener_Persona_O_EstudianteL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Estudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Estudiante" message="tns:ISWADNetValle_Obtener_Persona_O_Estudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_EstudianteResponse" message="tns:ISWADNetValle_Obtener_Persona_O_Estudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Nombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Nombre" message="tns:ISWADNetValle_Obtener_Persona_O_Nombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_NombreResponse" message="tns:ISWADNetValle_Obtener_Persona_O_Nombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_ID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_ID" message="tns:ISWADNetValle_Obtener_Persona_O_ID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_IDResponse" message="tns:ISWADNetValle_Obtener_Persona_O_ID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWADNetValle" type="tns:ISWADNetValle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_Carrerra_O_ID_Pedro">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Carrerra_O_ID_Pedro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_EstudianteL">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_EstudianteL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Estudiante">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Estudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Nombre">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Nombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_ID">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWADNetValle">
    <wsdl:port name="BasicHttpBinding_ISWADNetValle" binding="tns:BasicHttpBinding_ISWADNetValle">
      <soap:address location="http://localhost:59389/SWADNetValle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>