SWLNBlockchain/App_WebReferences/SWADNetValle/SWADNetValle12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ENCareer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CareerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCareer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ENCareer" nillable="true" type="tns:ENCareer" />
  <xs:complexType name="ArrayOfENPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENPerson" nillable="true" type="tns:ENPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfENPerson" nillable="true" type="tns:ArrayOfENPerson" />
  <xs:complexType name="ENPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="CI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCareer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ENPerson" nillable="true" type="tns:ENPerson" />
</xs:schema>