SWLNBlockchain/App_WebReferences/SWADNetValle/SWADNetValle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SWADNetValle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59389/SWADNetValle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59389/SWADNetValle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59389/SWADNetValle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_OResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_ID_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_ID" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_ID_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_IDResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Estudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_Estudiante" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Estudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_EstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Rol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_Rol" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Rol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_RolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_Account" />
  </wsdl:message>
  <wsdl:message name="ISWADNetValle_Obtener_Persona_O_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_Persona_O_AccountResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWADNetValle">
    <wsdl:operation name="Obtener_Persona_O">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O" message="tns:ISWADNetValle_Obtener_Persona_O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_OResponse" message="tns:ISWADNetValle_Obtener_Persona_O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_ID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_ID" message="tns:ISWADNetValle_Obtener_Persona_O_ID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_IDResponse" message="tns:ISWADNetValle_Obtener_Persona_O_ID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Estudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Estudiante" message="tns:ISWADNetValle_Obtener_Persona_O_Estudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_EstudianteResponse" message="tns:ISWADNetValle_Obtener_Persona_O_Estudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Rol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Rol" message="tns:ISWADNetValle_Obtener_Persona_O_Rol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_RolResponse" message="tns:ISWADNetValle_Obtener_Persona_O_Rol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Account">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Account" message="tns:ISWADNetValle_Obtener_Persona_O_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_AccountResponse" message="tns:ISWADNetValle_Obtener_Persona_O_Account_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWADNetValle" type="tns:ISWADNetValle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener_Persona_O">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_ID">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Estudiante">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Estudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Rol">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Rol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_Persona_O_Account">
      <soap:operation soapAction="http://tempuri.org/ISWADNetValle/Obtener_Persona_O_Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWADNetValle">
    <wsdl:port name="BasicHttpBinding_ISWADNetValle" binding="tns:BasicHttpBinding_ISWADNetValle">
      <soap:address location="http://localhost:59389/SWADNetValle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>